# Bỏ qua mọi thứ bên ngoài thư mục dự án
../*
../../*

# Loại các file không cần thiết
*.rar
*.py
*.log
*.tmp
*.ini
*.dat
*.regtrans-ms
*.blf

# Bỏ các thư mục hệ thống và user
.DS_Store
node_modules/
build/
.idea/
.gradle/
AppData/
OneDrive/
Downloads/
Desktop/
Documents/
Music/
Videos/
Saved Games/
